/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* normalize css ends here */

html {
  color: #222;
}

body {
  width: 350px;
  height: 250px;
  font-family: Urbanist;
}

.app {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  color: #1e2022;
  background-color: #fff;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

input {
  width: 120px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #1e2022;
}

button {
  padding: 10px 20px;
  width: 90px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #377dff;
  color: #fff;
  cursor: pointer;
}

button:disabled {
  background-color: #ddd;
  color: #676;
  cursor: not-allowed;
}

.wrong-page-button {
  padding: 10px 20px;
  width: 130px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: #377dff;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.wrong-page-button:hover {
  background-color: #6198ff;
}